
#blocpage
{
    width: 900px;
    margin: auto;
    background: cadetblue;
}

body
{
    background: antiquewhite;

}



.menu li {
    display: inline-block ;
}

.menu a {
    display: block ;
    width: 100px ;
    padding: 5px 0 ;
    text-align: center ;
    border: 1px solid #ffe843 ;
   background-color: #ed2794;
    color: #ffe843 ;
    text-decoration: none ;
    margin: 10px ;
    border-radius: 10px;

}



nav a
{
    font-size: 1.2em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}


#reseau
{
    margin: auto;
    border: 1px solid #ffe843 ;
    background-color: antiquewhite;
    border-radius: 10px;

}

#contact
{

    font-style: italic;
    font-weight: bold;



}