#navigation {
    width: 200px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block ;
}

.menu li {
    display: inline-block ;
}

.menu a {
    display: block ;
    width: 100px ;
    padding: 5px 0 ;
    text-align: center ;
    border: 1px solid #ffe843 ;
   background-color: #ed2794;
    color: #ffe843 ;
    text-decoration: none ;
    margin: 10px ;
    border-radius: 10px;
}