.truc-a-centrer {
    position: absolute;
    /*top: 50%; left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    margin: auto;
    padding: 50px 150px;
}

body {
    margin: 0;
    background: antiquewhite;
}

h1
{

    color: chocolate;
}

.photo
{
    /*margin: auto;*/
    /*padding: 50px 50px;*/
}

.photo_p
{
    width: 10%;
    height: 10%;

}

.reseau
{
   /*background-color: chocolate;*/
    margin-left: 0;
    display: flex;
    justify-content: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: dimgray;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: chocolate;
}